{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-6 ms-auto container">
        <div class="card">
            <div class="card-body">
                <h2 class="">LOGIN</h2>
                <br />
                <br />
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger text-center " role="alert">
                            <p>{{ message }}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <form action="{% url 'login' %}" method="post" class="form-singup">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success" type="submit">Enter</button>
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
